<p>reactive-programming works!</p>

<button (click)="addUser()">Add user</button>



<div class="container">
  <div class="row">
    <div class="col-6">
      <table>
        <th>
          First name
        </th>
        <th>
          Last name
        </th>
        <tr *ngFor="let user of users">
          <td>
            {{user.firstName}}
          </td>
          <td>
            {{user.lastName}}
          </td>
        </tr>
      </table>
    </div>
    <div class="col-6">
      <table>
        <th>
          First name
        </th>
        <th>
          Last name
        </th>
        <tr *ngFor="let user of users$ | async">
          <td>
            {{user.firstName}}
          </td>
          <td>
            {{user.lastName}}
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
