.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;

  a {
    margin-right: 40px;
    color: white;
    text-decoration: none;
  }
}

.content {
  margin-top: 90px;
  padding-left: 60px;
}
