<h3>Template form</h3>
<!-- <form (ngSubmit)="onSubmitTemplateForm()">
  <div class="col-2">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name"
             required
             [(ngModel)]="model.name" name="name">
    </div>

    <button type="submit" class="btn btn-primary btn-submit">Submit</button>
  </div>
</form> -->

<form #form="ngForm" (ngSubmit)="submitForm(form.value)">
  <input type="text" name="name" ngModel required>
  <input type="email" name="email" ngModel required>
  <button type="submit">Submit</button>
</form>

<input type="text" class="form-control"
[(ngModel)]="test">
{{test}}
<div class="splitter"></div>
<button (click)="getValue()">sprawdź</button>

<h3>Reactive form</h3>
<form [formGroup]="formReactive" (ngSubmit)="onSubmitReactiveForm()">
  <div class="col-2">
    <div class="form-group">
      <label for="name">Name</label>
      <input class="form-control" type="text" formControlName="name">
    </div>

    <button type="submit" class="btn btn-primary btn-submit">Submit</button>
  </div>
</form>
